Display <%= form_tag "/will", method: 'get' do %><%= select_tag 'approved', '<option value="all">All</option><option value="true">Approved</option><option value="false">Not approved</option>'.html_safe %> <%= submit_tag 'Go' %><% end %>
<% if @wills %>
  <table class="table">
    <tr><th>Name</th><th>Year</th><th>Date Created</th></tr>
    <% for will in @wills do %>
      <tr>
        <td><%= link_to "#{will.first_name} #{will.last_name}", will %></td>
        <td><%= will.year %></td>
        <td><%= will.created_at.to_date %>
        <td><%= will.approved ? "Approved" : "Not approved" %></td>
    </tr>
  <% end %>
  </table>
<% else %>

  <p>Will successfully deleted. Click <%= link_to "here", action: :index %> to see more wills.</p>

<% end %>
