<h1>CCLA Wills</h1>
<div>
<p>To register a new will, please enter the following testator information:</p>

</div>

    <em>* denotes a required field</em>
    <%= form_for :will, url: will_index_url do |f| %>
      <table class="table">
        <tr><td>*Testator's first name:</td><td><%= f.text_field :first_name %></td></tr>
        <tr><td>*Testator's last name:</td><td><%= f.text_field :last_name %></td></tr>
        <tr><td>Testator's alternate name:</td><td><%= f.text_field :alt_last_name %></td></tr>
        <tr><td>*Date of birth:</td><td><%= f.date_field :dob %></td></tr>
        <tr><td>*City of birth:</td><td><%= f.text_field :city_of_birth %></td></tr>
        <tr><td>Province of birth:</td><td><%= f.text_field :province_of_birth %></td></tr>
        <tr><td>Last resident in (city):</td><td><%= f.text_field :last_resided %></td></tr>
      </table>
      <%= f.submit "Register Will" %>
    <% end %>
    <br /><br />
