<h1>CCLA Wills</h1>
<p>Thank you for registering with us.</p>

<br />
<p>You registered the following will:</p>
<table>
  <tr><td><%= @will.first_name %> <%= @will.last_name %></td></tr>
  <tr><td><%= @will.alt_last_name %></td</tr>
  <tr><td><%= @will.dob %></td></tr>
  <tr><td><%= @will.city_of_birth %></td></tr>
  <tr><td><%= @will.province_of_birth %></td></tr>
  <tr><td><%= @will.country_of_birth %></td></tr>
  <tr><td><%= @will.last_resided %></td></tr>
</table
