<%= @thank_you if @thank_you %>
<table>
  <tr><td><%= @will.first_name %> <%= @will.last_name %></td></tr>
  <tr><td><%= @will.alt_last_name %></td</tr>
  <tr><td><%= @will.dob %></td></tr>
  <tr><td><%= @will.city_of_birth %></td></tr>
  <tr><td><%= @will.province_of_birth %></td></tr>
  <tr><td><%= @will.country_of_birth %></td></tr>
  <tr><td><%= @will.last_resided %></td></tr>
  <tr><td><%= @will.lawyer_name %></td></tr>
  <tr><td><%= @will.firm_name %></td></tr>
  <tr><td><%= @will.lsuc %></td></tr>
  <tr><td><%= @will.telephone %></td></tr>
</table
