
Display <%= form_tag "/request", method: 'get' do %><%= select_tag 'status', '<option>All</option><option>New</option><option>In Progress</option><option>Closed</option>'.html_safe %> <%= submit_tag 'Go' %><% end %>

<% if @requests %>
<table class="table">
  <tr><th>Applicant</th><th>Email</th><th>Telephone</th><th>LSUC</th><th>Testator</th><th>Testator Alt. Name</th><th>DOB</th><th>City</th><th>Province</th><th>Last Resided In</th><th>Created On</th><th>Status</th></tr>
<% for request in @requests do %>
  <tr>
    <td><%= link_to request.applicant, request %></td>
    <td><%= request.email %></td>
    <td><%= request.telephone %></td>
    <td><%= request.lsuc %></td>
    <td><%= request.testator_first %> <%= request.testator_last %></td>
    <td><%= request.testator_alt %></td>
    <td><%= request.testator_dob %></td>
    <td><%= request.testator_city %></td>
    <td><%= request.testator_province %></td>
    <td><%= request.testator_last_resident %></td>
    <td><%= request.created_at.to_date %></td>
    <td><%= request.status || "New" %></td>
    <td><%= link_to "Delete", request, method: :delete, data: {confirm: "Are You Sure?"} %></td></tr>
<% end %>
</table>

<%= link_to 'Export to CSV', request_index_path(format: :csv), class: "btn btn-default btn-primary" %>

<% else %>

  <p>There are currently no requests in the system.</p>

<% end %>


