<div class= "row">
<div class= "col-xs-6">
    <h1>Will Request Form</h1>
    <p>Welcome to the County of Carleton Law Association Wills database. To request a will location, please enter testator information below. At this time, searches will only be conducted for lawyers licensed by the LSUC, or other provinces’ equivalent.</p>

    <em>* denotes a required field</em>
    <%= form_for :request, url: request_index_url, :html => {:class => "form-inline"} do |f| %>
      <div class="form-label"><strong>Contact Information</strong></div>
  <div class= "form-group">
    <%= f.label :applicant, "*Your name:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :applicant, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :email, "*Your email:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :telephone, "Your telephone:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :telephone, class: "form-control" %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.label :lsuc, "*Your LSUC:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :lsuc, class: "form-control" %>
    </div>
  </div>
  <div class="form-label"><strong>Testator Information</strong></div>
  <div class= "form-group">
    <%= f.label :testator_first, "*Testator's first name:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :testator_first, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :testator_last, "*Testator's last name:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :testator_last, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :testator_alt, "Alternate last name:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :testator_alt, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :testator_dob, "Date of birth (YYYY-MM-DD):", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :testator_dob, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :testator_city, "City of birth:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :testator_city, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :testator_province, "Province of birth:", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :testator_province, class: "form-control" %>
    </div>
  </div>

  <div class= "form-group">
    <%= f.label :testator_last_resident, "Last resided in (city):", class: "col-md-6 control-label" %>
    <div class= "col-md-6">
      <%= f.text_field :testator_last_resident, class: "form-control" %>
    </div>
  </div>
  <div class= "form-group">
    <div class= "col-md-6">
      <%= f.hidden_field :status, value: "New", class: "form-control" %>
    </div>
  </div>
  <div id="submit">
    <%= f.submit "Submit Request", class: "btn btn-default btn-primary" %>
  </div>
    <% end %>
</div>
</div>
