<p>Thank you for your request. We will contact you within X business days.</p>

<br />
<p>Your request contained the following data:</p>
<table>
  <tr><td><%= @request.applicant %></td></tr>
  <tr><td><%= @request.email %></td></tr>
  <tr><td><%= @request.telephone %></td></tr>
  <tr><td><%= @request.testator_first %> <%= @request.testator_last %></td></tr>
  <tr><td><%= @request.testator_alt %></td</tr>
  <tr><td><%= @request.testator_dob %></td></tr>
  <tr><td><%= @request.testator_city %></td></tr>
  <tr><td><%= @request.testator_province %></td></tr>
  <tr><td><%= @request.testator_country %></td></tr>
  <tr><td><%= @request.testator_last_resident %></td></tr>
</table
