    <h1>CCLA Wills</h1>
    <p>Welcome to the County of Carleton Law Association Wills database. To request a will location, please enter testator information below.</p>

    <em>* denotes a required field</em>
    <%= form_for :request do |f| %>
      <table class="table">
        <tr><td>*Your name:</td><td><%= f.text_field :applicant %></td></tr>
        <tr><td>Your email:</td><td><%= f.text_field :email %></td></tr>
        <tr><td>Telephone:</td><td><%= f.text_field :telephone %></tr>
        <tr><td>*Testator's first name:</td><td><%= f.text_field :testator_first %></td></tr>
        <tr><td>*Testator's last name:</td><td><%= f.text_field :testator_last %></td></tr>
        <tr><td>Testator's alternate name:</td><td><%= f.text_field :testator_alt %></td></tr>
        <tr><td>*Date of birth:</td><td><%= f.date_field :testator_dob %></td></tr>
        <tr><td>*City of birth:</td><td><%= f.text_field :testator_city %></td></tr>
        <tr><td>Province of birth:</td><td><%= f.text_field :testator_province %></td></tr>
        <tr><td>Last resident in (city)</td><td><%= f.text_field :testator_last_resident %></td></tr>
      </table>
      <%= f.submit "Submit Request" %>
    <% end %>
    <br /><br />
