    <h1>CCLA Wills</h1>
    <p>Welcome to the County of Carleton Law Association Wills database. To request a will location, please enter testator information below.</p>

    <em>* denotes a required field</em>
    <%= form_for :request do |f| %>
      *Your name: <%= f.text_field :applicant %><br />
      Your email: <%= f.text_field :email %><br />
      Telephone: <%= f.text_field :telephone %><br />
      <br />
      Testator Information: <br />
      *First name: <%= f.text_field :testator_first %><br />
      *Last name: <%= f.text_field :testator_last %><br />
      Alternate last name: <%= f.text_field :testator_alt %><br />
      *Date of Birth: <%= f.date_field :testator_dob %><br />
      *City of Birth: <%= f.text_field :testator_city %><br />
      Province of Birth: <%= f.text_field :testator_province %><br />
      Last resident in (city) <%= f.text_field :testator_last_resident %><br />
      <%= f.submit %>
    <% end %>
    <br /><br />
