<h1>CCLA Wills</h1>
<div>
<p>To register a new firm, please enter the following information:</p>

    <em>Please note: all fields are required</em>
    <%= form_for :firm, url: firm_index_url do |f| %>
      <table class="table">
        <tr><td>Lawyer/firm name:</td><td><%= f.text_field :name %></td></tr>
        <tr><td>Address:</td><td><%= f.text_field :address %></td></tr>
        <tr><td>City:</td><td><%= f.text_field :city %></td></tr>
        <tr><td>Province:</td><td><%= f.text_field :province %></td></tr>
        <tr><td>Country:</td><td><%= f.text_field :country %></td></tr>
        <tr><td>Postal code:</td><td><%= f.text_field :postal_code %></td></tr>
        <tr><td>Telephone:</td><td><%= f.text_field :telephone %></td></tr>
        <tr><td>LSUC number</td><td><%= f.text_field :lsuc %></td></tr>
      </table>
      <%= f.submit "Register Firm" %>
    <% end %>
    <br /><br />
