<h1>CCLA Wills</h1>
<p>Thank you for registering with us.</p>

<br />
<p>You registered the following firm:</p>
<table>
  <tr><td><%= @firm.name %></td></tr>
  <tr><td><%= @firm.address %></td</tr>
  <tr><td><%= @firm.city %></td></tr>
  <tr><td><%= @firm.province %></td></tr>
  <tr><td><%= @firm.country %></td></tr>
  <tr><td><%= @firm.postal_code %></td></tr>
  <tr><td><%= @firm.telephone %></td></tr>
  <tr><td><%= @firm.lsuc %></td></tr>
</table
<p>Please click <%= link_to 'here', controller: :will, action: :new %> to register a new will.</p>
