<table class="table">
<tr><th>Name</th><th>Alt. Last Name</th><th>Date of Birth</th><th>Birth City</th><th>Birth Province</th><th>Birth Country</th><th>Last Resided In</th><th>Firm</th></tr>
<% for testator in @testators do %>
  <tr>
  <td><%= testator.first_name %> <%= testator.last_name %></td>
    <td><%= testator.dob %></td>
    <td><%= testator.alt_last_name %></td>
    <td><%= testator.city_of_birth %></td>
    <td><%= testator.province_of_birth %></td>
    <td><%= testator.country_of_birth %></td>
    <td><%= testator.last_resided %></td>
    <td><%= testator.firm_id %></td></tr>
<% end %>
</table>
