<h1>CCLA Wills</h1>
<p>Thank you for registering with us.</p>

<br />
<p>You registered the following will:</p>
<table>
  <tr><td><%= @testator.first_name %> <%= @testator.last_name %></td></tr>
  <tr><td><%= @testator.alt_last_name %></td</tr>
  <tr><td><%= @testator.dob %></td></tr>
  <tr><td><%= @testator.city_of_birth %></td></tr>
  <tr><td><%= @testator.province_of_birth %></td></tr>
  <tr><td><%= @testator.country_of_birth %></td></tr>
  <tr><td><%= @testator.last_resided %></td></tr>
</table
