<!DOCTYPE html>
<html>
  <head>
    <title>Wills</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div id="main-container" class="container-fluid">
<div class="row">
  <div id="sidebar" class="col-xs-3">
    <%= link_to "Find a Will", controller: :find, action: :new %><br />
    <%= link_to "Register a Will", controller: :register, action: :new %><br />
    <%= link_to "Search (authentication required)", controller: :search, action: :new %>
  </div>
  <div id="content" class="col-xs-9">
    <%= yield %>
  </div>
</div>
  </body>
</html>
